<%- include("Template/cabecera", {tituloweb: "Pagina de inicio"}) %>
    <div class="container">
        <h1>Crear nuevo Pokemon</h1>
        <br>
        <form action="/Bar" class="my-2" method="POST">
            <input type="text" placeholder="Nombre Bar" class="form-control my-2" name="nombre">
            <input type="time" placeholder="Horario del bar" class="form-control my-2" name="horario">
            <input type="text" placeholder="Direccion del bar" class="form-control my-2" name="direccion">
            <input type="text" placeholder="Observaciones del bar" class="form-control my-2" name="observaciones">
            <button type="submit" class="btn btn-dark btn-block">
                Agregar
            </button>
        </form>
    </div>
<%- include("Template/footer") %>