<%- include("Template/cabecera", {tituloweb: "Pagina de inicio"}) %>
    <div class="container">
        <h1>Crear nueva Reserva</h1>
        <br>
        <form action="/Reserva" class="my-2" method="POST">
            <input type="text" placeholder="Nombre reserva" class="form-control my-2" name="nombre">
            <input type="text" placeholder="Nombre Bar" class="form-control my-2" name="nombreBar">
            <input type="text" placeholder="Hora" class="form-control my-2" name="hora">
            <input type="text" placeholder="Numero Mesa" class="form-control my-2" name="numeroMesa">
            <input type="text" placeholder="Observaciones" class="form-control my-2" name="observaciones">
            <button type="submit" class="btn btn-dark btn-block">
                Agregar
            </button>
        </form>
    </div>
<%- include("Template/footer") %>