<%- include("Template/cabecera", {tituloweb: "Pagina de inicio" }) %>
    <h1 class="display-6 text-center text-bg-dark">Guia Gimnasios</h1>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="display-110 text-center text-bg-dark">Ciudad Mayólica</h2>
                <img class="w-25" src="images/gimnasio1.png" alt="Ciudad Mayólica" >
                <img src="images/entrenador1.png" alt="Ciudad Mayólica" width="200" height="200" >
            </div>
            <div class="col text-center">
                <h2 class="display-110 text-center text-bg-dark">Pokemons</h2>
                <img class="w-25" src="images/pokemon1.png" alt="Ciudad Mayólica" >
                <img src="images/pokemon2.png" alt="Ciudad Mayólica" width="200" height="200" >
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col text-center">
                <h2 class="display-110 text-center text-bg-dark"> Ciudad Fayenza</h2>
                <img class="w-25" src="images/gimnasio2.png" alt=" Ciudad Fayenza" >
                <img src="images/entrenador2.png" alt="Ciudad Mayólica" width="200" height="200" >
            </div>
            <div class="col text-center">
                <h2 class="display-110 text-center text-bg-dark">Pokemons</h2>
                <img class="w-25" src="images/pokemon3.png" alt="Ciudad Mayólica" >
                <img src="images/pokemon4.png" alt="Ciudad Mayólica" width="200" height="200" >
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col text-center">
                <h2 class="display-110 text-center text-bg-dark">Ciudad Naboru</h2>
                <img class="w-25" src="images/gimnasio3.jpg" alt="Ciudad Naboru" >
                <img src="images/entrenador3.png" alt="Ciudad Mayólica" width="200" height="200" >
            </div>
            <div class="col text-center">
                <h2 class="display-110 text-center text-bg-dark">Pokemons</h2>
                <img class="w-25" src="images/pokemon5.png" alt="Ciudad Mayólica" >
                <img src="images/pokemon6.png" alt="Ciudad Mayólica" width="200" height="200" >
            </div>
        </div>
    </div>
    <%- include("Template/footer") %>