<%- include("Template/cabeceraIndex.ejs", {tituloweb: "Pagina de inicio"}) %>
<section>

    <img src="images/Captura.PNG" alt="logo" height="450px">
    
    <form id= "form1" class="registro" action="#" 
      name="registro" method="post" onsubmit="return validar();">
  
      <h1 class="registro__titulo">Cont치ctenos</h1>
  
      <input id="nombre" class="registro__input" type="text" name="nombre" maxlength="30" required>
      <label for="" class="registro__label">Nombre</label>
  
      <input id="apellidos" class="registro__input" type="text" name="Apellidos" maxlength="60" required>
      <label for="" class="registro__label">Apellidos</label>
  
      <input id="correo" class="registro__input" type="email" name="correo" maxlength="100" required>
      <label for="" class="registro__label">Correo</label>
  
      <input id="telefono" class="registro__input" type="number" name="telefono" required>
      <label for="" class="registro__label">Telefono</label>
  
      <input id="dni" class="registro__input" type="text" name="dni" maxlength="9" required>
      <label for="" class="registro__label">DNI</label>
  
      <input id="iban" class="registro__input" type="text" name="iban" maxlength="24" onchange="generarSWIFT()" required>
      <label for="" class="registro__label">IBAN</label>
  
      <input id="swift" class="registro__input" type="text" name="swift" maxlength="11" required>
      <label for="" class="registro__label">SWIFT</label>
  
      <input id="nombre_usuario" class="registro__input" type="text" name="nombre_usuario" maxlength="20" required>
      <label for="" class="registro__label">Nombre Usuario</label>
  
      <input id="contrase침a" class="registro__input" type="password" name="contrase침a" maxlength="20" required>
      <label for="" class="registro__label">Contrase침a</label>

      <input type="checkbox" name="terminos" id="terminos"> <b>Terminos y condiciones</b>
      <p>
        <input class="registro__submit" type="submit" onclick="abrirNuevaVentana()"value="Enviar">
        <br>
        <input class="registro__vaciar" type="reset" value="Borrar">
      </p>
      <img class="logo_foto" src="images/RESERVANET.png" alt="logo_foto" height="300px">
    </form>

    <img class="foto_portada" src="images/imagen_portada.jpg" alt="foto_portada">
  </section>


</body>

</html>

<%- include("Template/footer") %>