<%- include("Template/cabeceraIndex.ejs", {tituloweb: "Pagina de inicio"}) %>
    <h1 class="display-6 text-center text-bg-dark">Bienvenido a la Pokedex de Pablo Guisasola</h1>

<%- include("Template/footer") %>