<!doctype html>
<html lang="en">

<head>
  <title>Mesas</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/mesas.css">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand">ReservaNet</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Bar">Bares</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Reserva">Reserva</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mesas">Mesas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tareas">Tareas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
  <header>
    <h1 class="text-center">Mesas Terraza</h1>
  </header>
  <main>

    <!--FILA 1-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img class="mesa" src="images/mesa.jpg" alt="mesa1">
                <p class="texto1">Mesa1</p>

            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <img class="mesa" src="images/mesa.jpg" alt="mesa1">
                <p class="texto1">Mesa2</p>

            </div>

            <div class="col-sm-12 col-md-12 col-lg-4">
                <img class="mesa" src="images/mesa.jpg" alt="mesa1">
                <p class="texto1">Mesa3</p>

            </div>

        </div>

        

    </div>

    <!--FILA 2-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 ">
                <img class="mesafila2" src="images/mesa.jpg" alt="mesa1">
                <p class="textofila2">Mesa4</p>

            </div>

            

            <div class="col-sm-12 col-md-6 col-lg-4 ">
                <img class="mesafila2" src="images/mesa.jpg" alt="mesa1">
                <p class="textofila2">Mesa5</p>

            </div>

        </div>
 

    </div>

     <!--FILA 3-->
     <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <img class="mesa" src="images/mesa.jpg" alt="mesa1">
                <p class="texto1">Mesa6</p>

            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <img class="mesa" src="images/mesa.jpg" alt="mesa1">
                <p class="texto1">Mesa7</p>

            </div>

            <div class="col-sm-12 col-md-12 col-lg-4">
                <img class="mesa" src="images/mesa.jpg" alt="mesa1">
                <p class="texto1">Mesa8</p>

            </div>

        </div>

        

    </div>


  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>